body { /* Estilo do corpo da página */
  font-family: Arial, sans-serif; /* Define a fonte do texto */
  margin: 0; /* Remove a margem externa */
  padding: 0; /* Remove preenchimento interno */
  background-color: #f2f2f2; /* Define a cor de fundo do site */
}

.capa img { 
  overflow: hidden; 
  height:730px; 
  width:100%;
  height:100%;
   position: fixed;
}
 

header { /* Estilo do cabeçalho */
  background-color: #b45dd6; /* Cor de fundo verde */
  color: white; /* Cor do texto branca */
  padding: 20px; /* Espaço interno */
  text-align: center; /* Centraliza o texto */
}

  

nav { /* Estilo da barra de navegação */
  background-color: #333; /* Cor de fundo cinza escuro */
  padding: 10px; /* Espaço interno */
  text-align: center; /* Centraliza os links */
}

nav a { /* Estilo dos links de navegação */
  color: white; /* Cor do texto branco */
  margin: 0 15px; /* Espaço entre os links */
  text-decoration: none; /* Remove o sublinhado */
}

nav a:hover { /* Efeito ao passar o mouse sobre o link */
  text-decoration: underline; /* Adiciona sublinhado */
}

main { /* Estilo da área principal de conteúdo */
  padding: 20px; /* Espaço interno */
}

footer { /* Estilo do rodapé */
  background-color: #222; /* Cor de fundo escura */
  color: white; /* Texto branco */
  text-align: center; /* Centraliza o texto */
  padding: 10px; /* Espaço interno */
  position: fixed; /* Fixa no final da tela */
  bottom: 0; /* Cola no rodapé */
  width: 100%; /* Ocupa toda a largura */
} 

.titulo {
   float: left;
    font-size: 18px;
    text-align: center;
    font-weight: bold;
    font-family: "Times New Roman", Times, serif;
    width: 50%;
  
}

.descricao {
  float: left;
    font-size: 12px;
    text-align: justify;
    font-family: "Times New Roman", Times, serif;
    width: 50%;
   

}

.imagem {
  float: right;
    width: 50%;
    
  
}
